@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  user-select: text !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Remove scrollbar */
::-webkit-scrollbar {
  display: none;
}
